/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Home Section styles */
  #home {
    text-align: center;
    padding: 50px 0;
  }
  
  #home h2 {
    color: #060606;
  }
  
  #home strong {
    color: #000;
    font-size: 3rem;
  }
  
  #home img {
    width: 70%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Social Media Icons styles */
  .socialmediaicons {
    margin-top: 20px;
  }
  
  .socialmediaicons a {
    color: #000;
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Search bar styles */
  form {
    display: inline-block;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 6px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #aaa;
  }
  
  /* Hero Video styles */
  .hero {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero video,
  .hero iframe {
    max-width: 100%;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  